<% @comments.each do |comment| %>

	<div class = "comments-info">
		<li class = "comments-info-list"><%= comment.content %></li>
		<li class = "comments-info-list">Added by <%= comment.user.email %></li>
		<li class = "comments-info-list">at <%= comment.created_at %></li>
	</div>

<% end %>