<% @comments.each do |comment| %>

	<div class = "comments-info">
		<p class = "comments-info-content"><%= comment.content %></p>
		<p class = "comments-info-user"><%= comment.user.username %></p>
	</div>

<% end %>