.browse-header {
	background-color: #363A3F;
	text-transform: uppercase;
	text-align: center;	
	height: 61px;
}

.browse-header-nav {
	list-style: none;
}

.browse-header-li {
	display: inline;
	width: 44px;
	margin: 0 15px;
	line-height: 61px;
	color: #999;
	font-size: 15px;
}

.browse-header-li:hover {
	color: white;
	cursor: pointer;
}