// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-info {
	margin: 10px 0;
	font-size: 13px;
}

.comments-info-content {
	list-style-type: none;
	margin-bottom: 10px;
}

.comments-info-user {
	color: black;
	font-weight: bold;
	margin-bottom: 20px;
}

.comments-info-timestamp {
	list-style-type: none;
	color: blue;
}
