<div class = "browse-header" >
	<ul class = "browse-header-nav">
		<li class = "browse-header-li">Products</li>
		<li class = "browse-header-li">Collections</li>
		<li class = "browse-header-li">Users</li>
	</ul>
</div>

<% @products.each do |product| %>
	<%= render product %>
<% end %>